#rules {
  margin: 20px;

  h1 {
    font-size: 40px;
    width: 100%;
    border-bottom: 1px solid #b3b3bb;
    padding-bottom: 15px;
  }
  p {
    padding: 10px;
  }

  li {
    color: #d93f87;
  }
  .btnf {
    align-self: center;
  }
}
